/* ------------------ Reset ------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffc107;
}

section, footer{
  color: #ffff;
}

/* ------------------ Clases Reutilizables------------------ */
.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.container-section {
  margin: 3rem 0;
  padding: 2rem;
  outline: 1.5px solid #ffff;
}
/* ------------------ Para el barra de navegacion ------------------ */
.bar-icon {
  color:#c9c9c9;
}
/* ------------------ Para los section con images ------------------ */
.primary-image {
  content: url(../assets/images/taxi.jpg);
}

.phone-image {
  content: url(../assets/images/iPhone6Plus.png);
}

.second-image {
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 37.5vh;
}

.content-info {
  display: relative;
  background: rgba(0, 0, 0, 0.5);
  min-height: 37.5vh;
  padding: 2rem;
}

.btn-yellow {
  background-color: #ffc107;
}