/* ------------------ Reset ------------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #ffc107;
  color: #ffff;
}

nav {
  padding-top: 1rem;
  padding-bottom: 2rem;
  z-index: 200;
}

section,
footer {
  color: #ffff;
}

footer {
  background-color: #2b2b2b;
  padding: 2rem 0.5rem ;
}

hr {
  border-bottom: 0.1rem solid #ffffff;
}

/* ------------------ Clases Reutilizables------------------ */

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.container-section {
  margin: 3rem 0;
  padding: 2rem;
  outline: 1.5px solid #ffff;
}

.logo-white {
  content: url(../assets/images/logoBlanco.png);
  display: inline;
}

.reducir-logo {
  width: 25%;
}


/* ------------------ Para el barra de navegacion ------------------ */
.bar-icon {
  color: #c9c9c9;
}

/* ------------------ Para los section ------------------ */

.primary-image {
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-position: center 90%;
  background-size: cover;
  min-height: 90vh;
}

.primary-info {
  background: #ffc107;
  padding: 1rem 3rem;
  top: 24rem;
  position: absolute;
}

.hr::before {
  content:" ";
  background-color:#fff;
  position: relative;
  display: inline-block;
  width: 14rem;
  height: 0.1rem;
  margin-right: 2rem;
}

.hr::after{
  content:" ";
  background-color: #fff;
  display: inline-block;
  width: 14rem;
  height: 0.1rem;
  margin-left: 2rem;
}

.phone-image {
  content: url(../assets/images/iPhone6Plus.png);
}

/*.map-image {
  content: url(../assets/images/map-imagen.jpg);
  max-width: 100%;
}*/

.second-image {
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  min-height: 37.5vh;
}

.second-info {
  background: rgba(0, 0, 0, 0.5);
  min-height: 37.5vh;
  padding: 2rem;
}

.content-information {
  padding: 2rem 1rem;
}

.btn-yellow {
  background-color: #ffc107;
  color: #ffffff;
}

.btn-white {
  background-color: #ffffff;
  color: #000000;
  margin: 2rem 0;
}

.style-input {
  background-color: transparent;
  border: 0.2rem solid #ffffff;
  margin: 0 2.8rem;
  border-radius: 1rem;
  position: relative;
  font-weight: 700;
}

.position-icon {
  margin-right: 4rem;
  position: absolute;
}

.style-input::-moz-placeholder {
  color: #ffffff;
}

.style-input:-ms-input-placeholder {
  color: #ffffff;
}

.style-input::-webkit-input-placeholder {
  color: #ffffff;
}

.style-input:focus, .style-input:active {
  background-color: #ffffff;
  outline: none;
}


/* ------------- Para el footer------------- */
.list-footer {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.list-footer li {
  margin: 1rem 0;
}

.list-footer a {
  text-decoration: none;
  color: #ffffff;
}

.margin-icon {
  margin: .3rem;
}

.google-play {
  content: url(../assets/images/googleplay.png);
}

.app-store {
  content: url(../assets/images/appstore.png);
}

.logos-style {
  width: 90%;
  margin: 2rem 0;
}
/* ------------- Para modal en general ------------- */
.style-modal {
  display: block; 
  margin-top: 4rem;
  color: black;
  font-weight: 600;
}

.container-modal {
  width: 100%;
  padding: 2.5rem;
  background-color: #eeeeee;
  border-radius: 1.3rem;
}

.display-none {
  display: none;
}

/* ------------- Para modal login ------------- */
.fa-user-circle::before{
  color: #ffc107;
  font-size: 6rem;
  padding: 1rem;
}

/* ------------- Para modal registrate ------------- */
.btn-style {
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
}

.account-btn {
  background-color: #000000;
  margin: 1rem 0;
}

.account-btn:hover, .account-btn:focus {
  background-color: #ffc107;
}

.input-account {
  display: inline-block;
  width: 49.5%;
}

.down-btn {
  background-color: #000000;
}

.down-btn:hover, .down-btn:focus {
  background-color: #ffc107;
}

.submit-btn {
  background-color: #ffc107;
  margin: 1rem 0;
}

.black-text {
  color: #000000;
  font-weight: 700;
  text-align: left;
}


/* ------------ Media para movil ------------ */
@media (min-width: 768px) {
  body {
    color: #ffff;
  }

  .primary-info {
    top: 14rem;
  }
}

/* Estilos para el mapa-google*/
#map {
  height: 100%;
}

.container-map {
  height: 50vh;
  margin: 2rem 0;
  padding: 1rem;
  outline: 1.5px solid #ffff;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  height: auto; 
  position: absolute;
  float: left;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
